.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .heading {
        display: flex;
        flex-direction: column;

        .secondary-heading {
            color: var(--darkColor);
            font-size: 0.9rem;
            line-height: 27px;
            padding-left: 3px;
        }
    }

    .home-menu {
        display: flex;
        justify-content: space-around;
        gap: 20px;

        .big-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 150px;
            position: relative;
            top: 0;
            color: white;
            text-decoration: none;
            font-size: 0.7rem;
            border-radius: 10px;
            box-shadow: 0 0 8px 3px var(--shadow);
            transition: 250ms ease-in-out;


            &.create-big-btn {
                background-color: var(--orangeColor);


                &:hover {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }

                &:active {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }
            }

            &.lists-big-btn {
                background-color: var(--darkColor);

                &:hover {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }

                &:active {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }
            }

            &.register-big-btn {
                // width: 100%;
                background-color: var(--redColor);

                &:hover {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }

                &:active {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }
            }

            &.logIn-big-btn {
                // width: 100%;
                background-color: var(--yellowColor);

                &:hover {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }

                &:active {
                    background-color: var(--redColor);
                    box-shadow: 0 0 10px 0 var(--shadow);
                    top: 2px;
                }
            }

        }
    }

    .diractions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--shadow);

        h2 {
            font-size: 2rem;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                gap: 20px;
                color: var(--darkColor);

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border: solid 1px var(--darkColor);
                    border-radius: 20px;
                    color: var(--redColor);
                }
            }
        }
    }
}