.Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    padding: 10px 20px;

    a {
        position: relative;
        top: 0;
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: 150ms;

        &.active {
            color: var(--orangeColor);
        }

        &:hover {
            color: var(--yellowColor);
        }
    }

}